:cascade layout;
:around content -> {
<div class="block" id="block-text"> 
  <div class="content"> 
    <h2 class="title">タイトル</h2> 
    <div class="inner"> 
        <table class="table"> 
          <tr> 
            <th>列</th> 
            <th class="last">最終列</th> 
          </tr> 
:         for $studies -> $study {
           <tr class="<: $~study.cycle('even','odd') :>"> 
              <td><: $study.title :></td>
              <td class="last"><: $study.announce_at :></td> 
          </tr> 
:         }
        </table> 
        <div class="actions-bar wat-cf"> 
          <div class="actions"> 
              <a class="button" href=""> 
                <img src="/img/admin/icons/application_edit.png" alt="Add" /> Add
              </a> 
          </div> 
          <: include 'include/pager.html' :>
        </div> 
    </div> 
  </div> 
</div> 
:}
